@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body
{
    min-height: 100vh;
    background-color: black;
}
header
{
    position:fixed;
    background: #910000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 10px #ff0000;
}
header ul
{
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover ,
header ul li a.active
{
    background: #fff;
    color: #910000;
}
.secy
{
    position: relative;
    padding: 100px;
    background: linear-gradient(#910000, #000000);
}
.secy h2
{
    margin-top: 250px;
    text-align: left;
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0 0 10px #ff0000;

}
.secy p
{
    font-size: 1.5em;
    color: #ffffff;
    text-align: left;
    width: 60%;
}
.secy img
{
    float: right;
    margin-right: 12px;
    margin-top: 120px;
    width: 500px;
    height: 500px;
    border-radius: 19px;
}